<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello</title>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="My First Node App" />

    <!-- Loading Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="flat-ui.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

</head>

<body>

        <!-- navbar row -->
        <div class="row banner-row">
            <div class="col-xs-12">
                <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a class="navbar-brand" href="#">Menu</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-01">
                        <!-- navbar-collapse -->
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="#fakelink">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stuff <b class="caret"></b></a>
                                <span class="dropdown-arrow"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Resum&eacute;</a></li>
                                    <li><a href="#">Thoughts</a></li>
                                    <li><a href="#">Projects</a></li>
                                </ul>
                            </li>
                            <li><a href="#fakelink">Contact + Social</a></li>
                        </ul>
                        <form class="navbar-form navbar-right" action="#" role="search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                                    <span class="input-group-btn">
                                            <button type="submit" class="btn"><span class="fui-search"></span></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
        <!-- /navbar -->

        <!-- main-headline -->
        <div class="main-headline">
            <h1 class="main-logo">
                <div class="logo"></div>
                    Kojo Hinson
                    <small>Dev/Human</small>
                </h1>
        </div>
        <!-- /main-headline -->
        
         <!-- Resume block -->
        <div class=".panelblock block-resume">
            <div id="header">
                <p id="name">Resume</p>
                <a href="mailto:you@yourdomain.com">
                    <p id="email">you@yourdomain.com</p>
                </a>
            </div>
            <div class="right">
                <h4>Objective</h4>
                <p>To take a position as a software engineer.</p>
                <h4>Experience</h4>
                <p>Junior Developer, Software Company (2010 - Present)</p>
                <ul>
                    <li>Designed and implemented end-user features for Flagship Product</li>
                    <li>Wrote third-party JavaScript and Ruby libraries</li>
                </ul>
                <h4>Skills</h4>
                <p>Languages: C#, JavaScript, Python, Ruby</p>
                <p>Frameworks: .NET, Node.js, Django, Ruby on Rails</p>
                <h4>Education</h4>
                <p>BS, Economics, My University</p>
                <ul>
                    <li>Award for best senior thesis</li>
                    <li>GPA: 3.8</li>
                </ul>
            </div>
        </div>  <!-- /Resume Block -->
        
         <!-- Thoughts Block -->
        <div class=".panelblock block-thoughts">
            <div id="header">
                <p id="name">Resume</p>
                <a href="mailto:you@yourdomain.com">
                    <p id="email">you@yourdomain.com</p>
                </a>
            </div>
            <div class="right">
                <h4>Objective</h4>
                <p>To take a position as a software engineer.</p>
                <h4>Experience</h4>
                <p>Junior Developer, Software Company (2010 - Present)</p>
                <ul>
                    <li>Designed and implemented end-user features for Flagship Product</li>
                    <li>Wrote third-party JavaScript and Ruby libraries</li>
                </ul>
                <h4>Skills</h4>
                <p>Languages: C#, JavaScript, Python, Ruby</p>
                <p>Frameworks: .NET, Node.js, Django, Ruby on Rails</p>
                <h4>Education</h4>
                <p>BS, Economics, My University</p>
                <ul>
                    <li>Award for best senior thesis</li>
                    <li>GPA: 3.8</li>
                </ul>
            </div>
        </div>  <!-- /Thoughts Block -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <!-- Left Pane -->
                    <h3 class="footer-title">Contact + Social</h3>
                    <p> E-mail : <a href="www.kojo." target="_blank">hinsonkojo[at]gmail.com</a>
                    </p>

                    <p class="pvl">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://designmodo.com/flat-free/" data-text="Flat UI Free - PSD&amp;amp;HTML User Interface Kit"
                        data-via="designmodo">Tweet</a>
                        <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                        </script>
                        <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&repo=Flat-UI&type=watch&count=true" height="20" width="107"
                        frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowTransparency="true"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&repo=Flat-UI&type=fork&count=true" height="20" width="107"
                        frameborder="0" scrolling="0" style="width:105px; height: 20px;" allowTransparency="true"></iframe>
                        <iframe src="http://ghbtns.com/github-btn.html?user=designmodo&type=follow&count=true" height="20" width="195" frameborder="0"
                        scrolling="0" style="width:195px; height: 20px;" allowTransparency="true"></iframe>
                    </p>

                    <a class="footer-brand" href="http://designmodo.com" target="_blank">
                        <img src="docs/assets/img/footer/logo.png" alt="Designmodo.com" />
                    </a>
                </div>
                <!-- /Left Pane -->

                <div class="col-xs-5">
                    <!-- Right Pane -->
                    <div class="footer-banner">
                        <h3 class="footer-title">Get Flat UI Pro</h3>
                        <ul>
                            <li>Tons of Basic and Custom UI Elements</li>
                            <li>A Lot of Useful Samples</li>
                            <li>More Vector Icons and Glyphs</li>
                            <li>Pro Color Swatches</li>
                            <li>Bootstrap Based HTML/CSS/JS Layout</li>
                        </ul>
                        Go to: <a href="http://designmodo.com/flat" target="_blank">designmodo.com/flat</a>
                    </div>
                </div>
                <!-- /Right Pane -->
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="video.js"></script>
    <script src="flat-ui.min.js"></script>
</body>

</html>